{% load static %}
{% load i18n %}

<form class="language-selector-form" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <div class="language-selector">
        <select name="language" onchange="this.form.submit()" class="styled-select">
            {% get_current_language as LANGUAGE_CODE %}
            <option value='en' {% if 'en' == LANGUAGE_CODE %} selected{% endif %}>English</option>
            <option value='nl' {% if 'nl' == LANGUAGE_CODE %} selected{% endif %}>Nederlands</option>
            <option value='ta' {% if 'ta' == LANGUAGE_CODE %} selected{% endif %}>Tamil</option>
        </select>
        <span class="arrow-down">&#9662;</span>
    </div>
</form>

<style>
.language-selector-form {
    display: inline-block;
    margin-left: 20px;
}

.language-selector {
    position: relative;
    display: inline-block;
}

.language-selector .arrow-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 11px;
    color: #EEEEEE;
}

.language-selector-form select {
    padding: 3px 30px 3px 10px; /* Extra padding on the right to avoid text overlapping with arrow */
    border: none;
    background-color: transparent;
    height: 30px;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #EEEEEE;
    width: auto !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.language-selector-form select option {
    color: #000; /* Dropdown items color */
    background-color: #fff;
}

</style>
