Django
psycopg2-binary>=2.9.8
reportlab
django-dbbackup 
boto3
django-storages
django-unfold==0.36.0
django-simple-history
django-payments
django-money
django-ckeditor
qrcode[pil]
reportlab
pypdf
pytz
gunicorn
mollie-api-python
django-celery-beat
redis
