Django==5.1.4
psycopg2-binary>=2.9.8
django-dbbackup==4.2.1
boto3==1.35.26
django-storages==1.14.4
django-unfold==0.49.1
django-filter==25.1
django-simple-history==3.7.0
django-payments==3.0.1
django-money==3.5.3
django-ckeditor==6.7.1
qrcode[pil]==7.4.2
reportlab==4.2.2
pypdf==5.0.0
pytz==2024.2
gunicorn==23.0.0
mollie-api-python==3.7.2
django-celery-beat==2.7.0
redis==5.2.0
PyPDF2==3.0.1