{% extends 'detail_page.html' %}

{% load static i18n age %}

{% block main %}
<main class="main mx-5">
<!-- Intro Section -->
<section id="intro" class="intro section m-5">
    <h1 class="text-center mt-5">{{ artikel.title }}</h1>
    <p class="text-center mb-5">

        <i class="bi bi-calendar-event"></i> Geschreven op {{ artikel.date }} | 
        <i class="bi bi-pencil"></i> Laatst geüpdate op {{ artikel.last_updated }}
        
    </p>
    <div class="container">
        <div class="row gx-5">
            
            <div class="col-md-6 px-4 d-flex align-items-center">
                {{ artikel.content|safe }}
            </div>
        
            <div class="col-md-1"></div>

            <div data-aos="fade-in" data-aos-delay="100" class="col-md-4 px-4">
                <img src="{{ artikel.image.url }}" alt="Foto van {{ artikel.name }}" class="img-fluid">
            </div>
            
        </div>
        </div>
</section>

</main>
{% endblock %}