{% extends 'detail_page.html' %}

{% load static i18n age %}

{% block title %}{{ kind.name }} | Care India{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{ kind.name }} | Care India">
<meta property="og:image" content="{% if kind.image %}{{ kind.image.url }}{% else %}{% static 'img/kinderen/kind_default.jpg' %}{% endif %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ kind.name }} | Care India">
<meta name="twitter:image" content="{% if kind.image %}{{ kind.image.url }}{% else %}{% static 'img/kinderen/kind_default.jpg' %}{% endif %}">
{% endblock %}

{% block main %}
<main class="main mx-5">
<!-- Intro Section -->
<section id="intro" class="intro section mx-2 mx-md-5 mt-5">
    <h1 class="text-center mt-5">{{ kind.name }}</h1>
    <p class="text-center mb-5">

        <i class="bi bi-balloon"></i> {% blocktrans with age=kind.day_of_birth|age %}{{ age }} years old{% endblocktrans %} | 

        {% if kind.date_of_leave %}
            <i class="bi bi-calendar-heart"></i> {% blocktrans with date=kind.date_of_leave %}Left Saranalaya on {{ date }}{% endblocktrans %}
        {% else %}
            <i class="bi bi-calendar-heart"></i> {% blocktrans with date=kind.date_of_admission %}In Saranalaya since {{ date }}{% endblocktrans %}
        {% endif %}

        {% if kind.status == 's' %}
            <i class="bi bi-backpack3"></i> {% blocktrans with name=kind.name %}We are still supporting {{ name }}{% endblocktrans %}
        {% endif %}
        
    </p>
    <div class="container">
        <div class="row gx-5">
            <div class="col-md-6 px-4 gap-5 d-flex flex-column justify-content-center align-items-center mb-5">
                <div>
                    <h3 class="pb-2 text-center">{% trans 'Info' %}</h3>
                    <div class="w-100 justify-content-between" style="text-align: justify;">
                        {% if kind.website_description %}
                            {{ kind.website_description|safe }}
                        {% else %}
                            <span>{% trans 'No extra info available yet' %}</span>
                        {% endif %}
                    </div>
                </div>
                
                {% if siblings %}
                <div>
                    <h3 class="pb-2 text-center">{% trans 'Siblings' %}</h3>
                    
                    <div class="container">
                        <div class="row gx-5 column-gap-5">
                            {% for sibling in siblings %}
                            <div class="col-md-4 mb-2 d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="{% url 'child_detail' sibling.id %}" class="d-flex align-items-center text-decoration-none text-dark">
                                        <img src="{% if sibling.image %}{{ sibling.image.url }}{% else %}{% static 'img/kinderen/kind_default.jpg' %}{% endif %}" alt="{{ sibling.name }}" class="rounded-circle me-3" width="60" height="60" style="object-fit: cover;">
                                        <span class="fw-bold">{{ sibling.name }}</span>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    
                </div>
                {% endif %}
            </div>

            <div class="col-md-1"></div>

            <div data-aos="fade-in" data-aos-delay="100" class="col-md-4 px-4">
            {% if kind.image %}
                <img src="{{ kind.image.url }}" alt="Picture of {{ kind.name }}" class="img-fluid">
            {% else %}
                <img src="{% static 'img/kinderen/kind_default.jpg' %}" alt="Default Image" class="img-fluid">
            {% endif %}
            </div>
            
        </div>
    </div>
</section>


{% if kind.traits %}
<section id="character-traits" class="section py-5">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4 text-center justify-content-center">
        
            {% for trait in kind.traits.all %}
            <div class="col-lg-2 col-md-3 col-6 trait-card">
                <img src="/static/{{ trait.get_filename }}" style="width: 50px; height: auto;" alt="{{ trait.get_trait_choice_display }} Icon" class="fs-2 text-dark">
            <p class="fw-semibold mt-2">{{ trait.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if extra_images %}
<section id="portfolio" class="portfolio section">

    <h2 class="text-center mb-5">{% trans 'Extra Images' %}</h2>

    <div class="container">

      <div class="isotope-layout" data-layout="masonry" data-sort="original-order">

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 afbeelding-item isotope-item filter-school">

            {% for image in extra_images %}

            <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.date }}{% if image.extra_info %} | {{ image.extra_info }}{% endif %}" loading="lazy">
            <div class="portfolio-info">
              <h4>{{ image.date }}{% if image.extra_info %} | {{ image.extra_info }}{% endif %}</h4>
              <a href="{{ image.image.url }}" title="{{ image.date }}{% if image.extra_info %} | {{ image.extra_info }}{% endif %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            </div>

            {% endfor %}
          </div>

        </div>

      </div>

    </div>

</section>
{% endif %}

</main>
{% endblock %}