{% extends 'detail_page.html' %}

{% load static i18n %}

{% block title %}{% trans 'About Us' %} | Care India{% endblock %}

{% block meta %}
<meta name="description" content="{% blocktrans %}Learn more about C.A.R.E., a small, independent Flemish organization committed to improving the lives of street children in Chennai through education, care, and support.{% endblocktrans %}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{% blocktrans %} About Us | Care India{% endblocktrans %}">
<meta property="og:description" content="{% blocktrans %}Learn more about C.A.R.E., a small, independent Flemish organization committed to improving the lives of street children in Chennai through education, care, and support.{% endblocktrans %}">
<meta property="og:image" content="{% static 'img/logo.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% blocktrans %}About Us | Care India{% endblocktrans %}">
<meta name="twitter:description" content="{% blocktrans %}Learn more about C.A.R.E., a small, independent Flemish organization committed to improving the lives of street children in Chennai through education, care, and support.{% endblocktrans %}">
<meta name="twitter:image" content="{% static 'img/logo.png' %}">
{% endblock %}

{% block main %}
<main class="main mx-5">
<!-- Intro Section -->
<section id="intro" class="intro section px-2 px-md-5 mt-5">
    <div class="container">
        <h1 class="pt-3" data-aos="fade-left" data-aos-delay="100">{% trans 'About Us' %}</h1>
        <p data-aos="fade-left" data-aos-delay="200">
            {% blocktrans %}
            Saranalaya is a small and independent children's home in Chennai, southeastern India. There are 45-50 children living there and the family feeling is central. We take in children who do not have a (good) home situation and do our utmost to let them grow up without worries. In Saranalaya there is a strong emphasis on education. Every child gets the chance to go to school and after high school also to continue studying if they want to. Even the children who have left Saranalaya and are already on their own, are always welcome and often receive a push from Sundar as well. Thanks to Saranalaya, more than 150 underprivileged children have already been given a chance for a better life.
            {% endblocktrans %}
        </p>

        <p data-aos="fade-left" data-aos-delay="200">
            {% blocktrans %}
            The children's home is run on a daily basis by Sundar, his wife Kavitha and a team of chefs, cleaners and teachers. The sponsorship needed to keep the home running comes mainly from Flemish aunties and uncles. Your support really makes a difference in the lives of our children in Saranalaya.
            {% endblocktrans %}
        </p>
    </div>
</section>

<!-- Begin -->
<section class="section px-2 px-md-5">
    <div class="container">
        <h2 data-aos="fade-left">{% trans "How it started" %}</h2>
        <p data-aos="fade-left" data-aos-delay="100">
            {% blocktrans %}
            In 1996, Veerle was doing an internship at a hospital in Chennai. One day she passed two young children tied to a tree, one of them battered with a shard of glass in the face. Together with Sundar, who was in charge of her, they got out of the rickshaw and waited with the young boys for their parents. When their father came home drunk several hours later, he made the unforgettable statement; “This is the best day of my life, you can have them,” and gave the boys' birth certificates to Veerle and Sundar. A few days later they gave shelter to a dozen street children in a rented house. In 2003, Saranalaya's final building was built in Thandalam, a small village just outside Chennai. 
            {% endblocktrans %}
        </p>
        
    </div>
</section>

<section class="section px-2 px-md-5 pt-3">
    <div class="container">
        <!-- <h2 data-aos="fade-left">{% trans "Daily life at Saranalaya" %}</h2> -->
        <div class="d-flex justify-content-center">
            <div class="ratio ratio-16x9 w-75">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wCr0vtux-Lg?si=MsC_UEQVwaLKy-r_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


</main>
{% endblock %}