<!doctype html>
<html lang="nl">

<head>
    {% load static dutch_date %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ event.title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- For links -->
    <meta property="og:title" content="Saranalaya - {{ event.title }}" />
    <meta property="og:type" content="event" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ event.image.url }}" />
    <meta property="og:description" content="{{ event.description|striptags }}" />
    <meta property="og:start_time" content="{{ event.start_date|date:"c" }}" />
    <meta property="og:end_time" content="{{ event.end_date|date:"c" }}" />
    <meta property="og:location" content="{{ event.location_short }}" />
    <meta property="og:site_name" content="Saranalaya Evenementen" />

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <!-- edited from https://templatemo.com/tm-583-festava-live -->
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7PCZTQYFNE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7PCZTQYFNE');
</script>

<body>

    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/events/{{ event.id }}">
                    <img class="logo" src="{% static "images/logo.png" %}" alt="logo">
                </a>

                <a href="#section_4" class="btn custom-btn d-lg-none ms-auto me-4{% if event.is_sold_out %}custom-btn-danger{% endif %}">
                    {% if event.is_sold_out %} 
                        Uitverkocht!
                    {% else %}
                        Koop Tickets
                    {% endif %}
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">Over</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3">Prijzen</a>
                        </li>
                        
                        <li class="nav-item d-none">
                            <a class="nav-link click-scroll" href="#section_4">Koop Tickets</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_5">Locatie</a>
                        </li>
                    </ul>

                    <a href="#section_4" class="btn custom-btn d-lg-block d-none {% if event.is_sold_out %}custom-btn-danger{% endif %}">
                        {% if event.is_sold_out %} 
                            Uitverkocht!
                        {% else %}
                            Koop Tickets
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">
                        <h1 class="text-white">{{ event.title }}</h1>
                        <p class="text-white mb-5">{{ event.titel_sub }}</p>

                        <a class="btn custom-btn smoothscroll" href="#section_2">Laten we beginnen</a>
                    </div>

                    <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
                        <div class="date-wrap">
                            <h5 class="text-white">
                                <i class="custom-icon bi-clock me-2"></i>
                                {% if event.is_same_day %}
                                    {{ event.start_date|dutch_datetime }} - {{ event.end_date|dutch_time }}
                                {% else %}
                                    {{ event.start_date|dutch_datetime }} - {{ event.end_date|dutch_datetime }}
                                {% endif %}
                            </h5>
                        </div>
                        <div class="location-wrap mx-auto py-3 py-lg-0"> 
                            <h5 class="text-white">
                                <i class="custom-icon bi-geo-alt me-2"></i>
                                {{ event.location_short }}
                            </h5>
                        </div>

                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="{% static "video/main.mp4" %}" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex">
                        <div class="services-info ">
                            <h2 class="text-white mb-4">Over {{ event.title }}</h2>
                            {{ event.description|safe }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">

                            <img src="{{ event.image.url }}" class="about-image img-fluid">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="pricing-section section-padding section-bg" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Prijzen</h2>
                    </div>

                    
                    {% for ticket in tickets %}
                    <div class="col-lg-6 col-12 mx-auto mb-3">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div>
                                    <h3>{{ ticket.title }} - {{ ticket.price }}</h3>
                                </div>
                            </div>

                            <div class="pricing-list mt-3">
                                {% if ticket.is_sold_out or event.is_sold_out %}
                                    <p class="fw-bold">Uitverkocht!</p>
                                {% endif %}

                                {{ ticket.description }}
                            </div>

                            {% if not ticket.is_sold_out and not event.is_sold_out %}
                            <a class="link-fx-1 color-contrast-higher mt-4" href="#section_4">

                                <span>Koop Ticket</span>

                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </section>

        {% if event.is_in_future and not event.is_sold_out %}
        <section class="ticket-section section-padding" id="section_4">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-11 mx-auto">
                        <form class="custom-form ticket-form mb-5 mb-lg-0" action="/events/koop-ticket/{{ event.id }}/" method="post" role="form" x-data="ticketForm()" x-init="initialize()">
                            {% csrf_token %}

                            <h2 class="text-center mb-4">Koop Tickets</h2>

                            <div class="ticket-form-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="ticket-form-first-name" id="ticket-form-name"
                                            class="form-control" placeholder="Voornaam" required>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="ticket-form-name" id="ticket-form-name"
                                            class="form-control" placeholder="Naam" required>
                                    </div>
                                </div>
                                
                                <input type="email" name="ticket-form-email" id="ticket-form-email"
                                            pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email adres"
                                            required>

                                <h6>Kies uw tickets</h6>
                                <p x-show="totalQuantity > {{ event.remaining_tickets }}" class="text-danger">Er zijn nog maar {{ event.remaining_tickets }} tickets over!</p>

                                {% for ticket in tickets %}
                                {% if not ticket.is_sold_out %}
                                <div class="row" x-data="{ isChecked: false }">
                                    <div class="col-lg-6 col-md-6 col-12" >
                                        <div class="form-check form-control">
                                            <input 
                                                class="form-check-input" 
                                                type="checkbox" 
                                                name="TicketForm"
                                                id="flexCheckDefault{{ ticket.id }}" 
                                                x-model="selectedTickets[{{ ticket.id }}]"
                                                x-on:change="updateTotal()"
                                            >
                                            <label class="form-check-label" for="flexCheckDefault{{ ticket.id }}">
                                                {{ ticket.title }} - {{ ticket.price }}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input
                                            type="number" 
                                            name="ticket-form-number-{{ ticket.id }}" 
                                            id="ticket-form-number-{{ ticket.id }}"
                                            class="form-control" 
                                            placeholder="Aantal Tickets"
                                            min="1"
                                            max="{{ ticket.remaining_tickets }}"
                                            x-bind:value="quantities[{{ ticket.id }}] || ''"
                                            x-on:input="handleInputChange({{ ticket.id }}, $event.target.value)"
                                        >
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                                {% if event.enable_selling %}
                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="form-control" x-bind:disabled="totalQuantity > {{ event.remaining_tickets }} || totalQuantity < 1">Koop Tickets</button>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
        </section>
        {% endif %}

        <section class="location-section section-padding" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Locatie</h2>

                        <nav class="d-flex justify-content-center">
                            <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                                role="tablist">
                                <button class="nav-link active" id="nav-ContactMap-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-ContactMap" type="button" role="tab"
                                    aria-controls="nav-ContactMap" aria-selected="false">
                                    <h5>Google Maps</h5>
                                </button>

                                <button class="nav-link" id="nav-ContactForm-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-ContactForm" type="button" role="tab"
                                    aria-controls="nav-ContactForm" aria-selected="false">
                                    <h5>Adres</h5>
                                </button>

                            </div>
                        </nav>

                        <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                            <div class="tab-pane fade" id="nav-ContactForm" role="tabpanel"
                                aria-labelledby="nav-ContactForm-tab">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        {{ event.location_long|safe }}
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade show active" id="nav-ContactMap" role="tabpanel"
                                aria-labelledby="nav-ContactMap-tab">
                                <iframe class="google-map"
                                    src="{{ event.google_maps_embed_url }}"
                                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>


    <footer class="site-footer">

        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 mt-5">
                    <p class="copyright-text">Copyright © {% now "Y" %} C.A.R.E India</p>
                    <p class="copyright-text">Torhoutsesteenweg 441, 8210 Zedelgem, België</p>
                    <p class="copyright-text">Alle transacties gebeuren in Euro (€)</p>
                </div>

                <div class="col-lg-4 col-12 mt-5">
                    <p class="copyright-text"><a href="mailto:care.saranalaya@gmail.com" class="site-footer-link">care.saranalaya@gmail.com</a></p>
                    <p class="copyright-text"><a href="tel:+32497282972" class="site-footer-link">+32497282972</a></p>
                    <p class="copyright-text"><a href="https://www.facebook.com/groups/366106623433788/" class="site-footer-link" target="_blank">Facebook</a></p>
                    <p class="copyright-text"><a href="https://care-india.be/" class="site-footer-link" target="_blank">Website</a></p>
                </div>

                <div class="col-lg-4 col-12 mt-5">
                    <p class="copyright-text"><a href="/events/beleid#verzend" class="site-footer-link">Verzend- en retourbeleid</a></p>
                    <p class="copyright-text"><a href="/events/beleid#privacy" class="site-footer-link">Privacybeleid</a></p>
                    <p class="copyright-text"><a href="/events/beleid#betalingsvoorwaarden" class="site-footer-link">Betalingsvoorwaarden</a></p>
                </div>

            </div>
            <div class="row">
                <p class="copyright-text">Gemaakt door: <a href="https://github.com/SDeVuyst">Silas De Vuyst</a></p>
            </div>
        </div>
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.0.6/dist/cdn.min.js" defer></script>

    <script src="{% static "js/jquery.sticky.js" %}"></script>
    <script src="{% static "js/click-scroll.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>

    <script>
        function ticketForm() {
            return {
                selectedTickets: {},
                quantities: {},
                totalQuantity: 0,
                initialize() {
                    // Initialize the quantities and selectedTickets objects for each ticket
                    {% for ticket in tickets %}
                        this.quantities[{{ ticket.id }}] = '';
                        this.selectedTickets[{{ ticket.id }}] = false;
                    {% endfor %}
                },
                updateTotal() {
                    // Calculate the total quantity of selected tickets
                    this.totalQuantity = Object.keys(this.quantities).reduce((total, id) => {
                        return total + (this.selectedTickets[id] ? parseInt(this.quantities[id] || 0) : 0);
                    }, 0);
                },
                handleInputChange(ticketId, value) {
                    // Automatically select the checkbox if a number is entered
                    this.selectedTickets[ticketId] = value > 0;
                    this.quantities[ticketId] = value;
                    this.updateTotal();
                }
            }
        }
        </script>

</body>

</html>