{% load static age %}

<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex flex-column align-items-center text-center mb-4" data-aos="fade-up" data-aos-delay="{{ delay }}">
    <a href="{% url 'kind_detail' kind.id %}" class="text-decoration-none">
        <div class="card" style="width: 100%; transition: transform 0.3s ease; border: none;">
            <div class="card-body d-flex flex-column align-items-center">
                {% if kind.image %}
                    <img src="{{ kind.image.url }}" alt="Foto van {{ kind.name }}" class="mb-3 img-fluid" style="max-width: 250px; height: auto;">
                {% else %}
                <!-- TODO default image kiezen  -->
                    <img src="{% static 'img/kinderen/default.JPG' %}" alt="Default Image" class="mb-3 img-fluid" style="max-width: 250px; height: auto;">
                {% endif %}
                <h2 class="card-title">{{ kind.name }}</h2>
                <p class="card-text mb-0"><i class="bi bi-balloon"></i> {{ kind.day_of_birth|age }} jaar oud</p>
                {% if kind.date_of_leave %}
                    <p class="card-text"><i class="bi bi-calendar-heart"></i> Saranalaya verlaten op {{ kind.date_of_leave }}</p>
                {% else %}
                    <p class="card-text"><i class="bi bi-calendar-heart"></i> In Saranalaya sinds {{ kind.date_of_admission }}</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>