{% load static age i18n %}

<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex flex-column align-items-center text-center mb-4" data-aos="fade-up" data-aos-delay="{{ delay }}">
    <a href="{% url 'child_detail' kind.id %}" class="text-decoration-none">
        <div class="card position-relative" style="width: 100%; transition: transform 0.3s ease; border: none;">

            <!-- Status Ribbon -->
            {% if kind.status != 'a' %}
                <div class="ribbon ribbon-{{ kind.status }}">
                    {% if kind.status == 'l' %}
                        {% trans "Left" %}
                    {% elif kind.status == 's' %}
                        {% trans "Support" %}
                    {% endif %}
                </div>
            {% endif %}

            <div class="card-body d-flex flex-column align-items-center">
                {% if kind.image %}
                    <img src="{{ kind.image.url }}" alt="Picture of {{ kind.name }}" class="mb-3 img-fluid" style="max-width: 250px; height: auto;">
                {% else %}
                    <img src="{% static 'img/kinderen/default.JPG' %}" alt="Default Image" class="mb-3 img-fluid" style="max-width: 250px; height: auto;">
                {% endif %}
                <h2 class="card-title">{{ kind.name }}</h2>
                <p class="card-text mb-0"><i class="bi bi-balloon"></i> 
                    {% blocktrans with age=kind.day_of_birth|age %}
                        {{ age }} years old
                    {% endblocktrans %}
                </p>
                {% if kind.date_of_leave %}
                    <p class="card-text"><i class="bi bi-calendar-heart"></i>
                        {% blocktrans with date=kind.date_of_leave %}
                            Left Saranalaya on {{ date }}
                        {% endblocktrans %}
                    </p>
                {% else %}
                    <p class="card-text"><i class="bi bi-calendar-heart"></i> 
                        {% blocktrans with date=kind.date_of_admission %}
                            In Saranalaya since {{ date }}
                        {% endblocktrans %}
                    </p>
                {% endif %}
            </div>
        </div>
    </a>
</div>
